@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-appear-up: slide-in 0.2s ease-in 1 forwards;

  @keyframes slide-in {
    0% {
      opacity: 0%;
      transform: translateY(0);
    }

    100% {
      opacity: 100%;
      transform: translateY(calc(var(--spacing) * 20));
    }
  }
}

:root {
  --primary-color: var(--color-zinc-200);
  --secondary-color: var(--color-zinc-100);
  --tertiary-color: var(--color-zinc-300);
  --accent-color: var(--color-emerald-400);
  --highlight-color: var(--color-emerald-700);

  color: var(--color-slate-950);
}

:root.dark {
  --primary-color: var(--color-gray-950);
  --secondary-color: var(--color-gray-900);
  --tertiary-color: var(--color-gray-800);
  --accent-color: var(--color-emerald-700);
  --highlight-color: var(--color-emerald-500);

  color: var(--color-zinc-200);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
}

#root {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}
